@using SerhatPoturCV.Models.Entity
@model List<Skills>


@{
    var skillCount = Model.ToList();
    double newCount = skillCount.Count;
    double dgr = Convert.ToDouble(newCount / 2);
    dgr = Math.Ceiling(dgr);
    int ydgr = Convert.ToInt32(dgr);
    var d2 = skillCount.Count;


    // For döngüsü ile ilgili kısım
    // var skillCount = Model.ToList();
    // double newCount = skillCount.Count;
    // double dgr = Convert.ToDouble(newCount / 2);

    //dgr = Math.Ceiling(dgr);
    //int ydgr = Convert.ToInt32(dgr);
    //var d2 = skillCount.Count;
}



<div class="skills container">

    <div class="section-title">
        <h2>Yeteneklerim</h2>
    </div>

    <div class="row skills-content">

        <div class="col-lg-6">

            @for (int i = 0; i < dgr; i++)
            {
                <div class="progress">
                    <span class="skill">@Model[i].SkillName <i class="val">@Model[i].SkillValue%</i></span>
                    <div class="progress-bar-wrap">
                        <div class="progress-bar" role="progressbar" aria-valuenow="@Model[i].SkillValue" aria-valuemin="0" aria-valuemax="100"></div>
                    </div>
                </div>
            }
        </div>

        <div class="col-lg-6">

            @*@for (int i = d2 - 1; i > dgr; i--)*@
            @for (int i = ydgr; i <= d2 - 1; i++)
            {
                <div class="progress">
                    <span class="skill">@Model[i].SkillName <i class="val">@Model[i].SkillValue%</i></span>
                    <div class="progress-bar-wrap">
                        <div class="progress-bar" role="progressbar" aria-valuenow="@Model[i].SkillValue" aria-valuemin="0" aria-valuemax="100"></div>
                    </div>
                </div>
            }

        </div>

    </div>

</div>
