@model SerhatPoturCV.Models.Entity.Skills
@{
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

@*<button class="btn btn-primary" data-toggle="modal" data-target="#Modal1">Yetenek Girişi</button>*@
@*<a href="/Skill/UpdateSkillPartial" data-toggle="modal" data-target="#Modal1">
        <i class="fa fa-pencil-alt 2x"></i>
    </a>*@
<a class="btn btn-info btn-sm" href="/Skill/UpdateSkill/@Model.SkillID" data-toggle="modal" data-target="#Modal1">
    <i class="fas fa-pencil-alt">
    </i>

</a>
<div class="modal" id="Modal1">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header bg-dark text-white">
                <h5 class="modal-title text-center">Yetenek Girişi</h5>

                <a href="" class=font-weight-bolder> <span class="float-right">X</span></a>
            </div>
            @using (Html.BeginForm("UpdateSkill", "Skill", FormMethod.Post))
            {
                <div class="modal-body">
                    @Html.HiddenFor(m=>m.SkillID)
                    <div class="form-group">
                        @Html.Label("Yetenek Adı", new { @class = "control-label" })
                        @Html.TextBoxFor(m => m.SkillName, new { @class = "form-control" })
                    </div>
                    <div class="form-group">
                        @Html.Label("Yetenek Yüzdesi (%)", new { @class = "control-label" })
                        @Html.TextBoxFor(m => m.SkillValue, new { @class = "form-control" })
                    </div>


                    <button type="submit" class="btn btn-primary btn-block">Kaydet</button>

                </div>
            }
        </div>
    </div>
</div>






