@model SerhatPoturCV.Models.Entity.Skills
@{
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

    <div class="col-md-12 mt-3">
        <div class="card card-primary">
            <div class="card-header">
                <h3 class="card-title">Yetenek Güncelle</h3>

                <div class="card-tools">
                    <button type="button" class="btn btn-tool" data-card-widget="collapse" data-toggle="tooltip" title="Collapse">
                        <i class="fas fa-minus"></i>
                    </button>
                </div>
            </div>
            <div class="card-body">
                @using (Html.BeginForm("UpdateSkill", "Skill", FormMethod.Post))
                {
                    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                    @Html.HiddenFor(m=>m.SkillID)
                    <div class="form-group">
                        @Html.LabelFor(m => m.SkillName, "Yetenek Adı")
                        @Html.TextBoxFor(m => m.SkillName, new { @class = "form-control", @placeholder = "Company's Name" })
                        @Html.ValidationMessageFor(m => m.SkillName, "", new { @class = "text-danger" })
                    </div>
                    <div class="form-group">
                        @Html.LabelFor(m => m.SkillValue, "Yetenek Yüzdesi")
                        @Html.TextBoxFor(m => m.SkillValue, new { @class = "form-control", @placeholder = "Your Company Position" })
                        @Html.ValidationMessageFor(m => m.SkillValue, "", new { @class = "text-danger" })

                    </div>
                    <div class="form-group float-right">

                        <a href="/Skill/Index/" class="btn btn-danger">Vazgeç</a>
                        <input type="submit" value="Güncelle" class="btn btn-success">

                    </div>
                }
            </div>
            <!-- /.card-body -->
        </div>
        <!-- /.card -->
    </div>


@*<div class="modal" id="Modal1">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header bg-dark text-white">
                <h5 class="modal-title text-center">Yetenek Girişi</h5>

                <a href="" class=font-weight-bolder> <span class="float-right">X</span></a>
            </div>
            @using (Html.BeginForm("UpdateSkill", "Skill", FormMethod.Post))
            {
                <div class="modal-body">
                    @Html.HiddenFor(m=>m.SkillID)
                    <div class="form-group">
                        @Html.Label("Yetenek Adı", new { @class = "control-label" })
                        @Html.TextBoxFor(m => m.SkillName, new { @class = "form-control" })
                    </div>
                    <div class="form-group">
                        @Html.Label("Yetenek Yüzdesi (%)", new { @class = "control-label" })
                        @Html.TextBoxFor(m => m.SkillValue, new { @class = "form-control" })
                    </div>


                    <button type="submit" class="btn btn-primary btn-block">Kaydet</button>

                </div>
            }
        </div>
    </div>
</div>*@






