@model SerhatPoturCV.Models.Entity.Careers
@{
    ViewBag.Title = "AddCareer";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<div class="col-md-12 mt-3">
    <div class="card card-primary">
        <div class="card-header">
            <h3 class="card-title">Yeni Kariyer Ekle</h3>

            <div class="card-tools">
                <button type="button" class="btn btn-tool" data-card-widget="collapse" data-toggle="tooltip" title="Collapse">
                    <i class="fas fa-minus"></i>
                </button>
            </div>
        </div>
        <div class="card-body">
            @using (Html.BeginForm("AddCareer", "Career", FormMethod.Post))
            {
                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                <div class="form-group">
                    @Html.LabelFor(m => m.CompanyName, "Firma Adı")
                    @Html.TextBoxFor(m => m.CompanyName, new { @class = "form-control", @placeholder = "Company's Name" })
                    @Html.ValidationMessageFor(m => m.CompanyName, "", new { @class = "text-danger" })
                </div>
                <div class="form-group">
                    @Html.LabelFor(m => m.Position, "Pozisyon")
                    @Html.TextBoxFor(m => m.Position, new { @class = "form-control", @placeholder = "Your Company Position" })
                    @Html.ValidationMessageFor(m => m.Position, "", new { @class = "text-danger" })

                </div>
                <div class="form-row">
                    <div class="form-group col-md-6">
                        @Html.LabelFor(m => m.StartTime, "Başlangıç Tarihi")
                        @Html.TextBoxFor(m => m.StartTime, new { @class = "form-control", @placeholder = "Date of Start" })
                        @Html.ValidationMessageFor(m => m.StartTime, "", new { @class = "text-danger" })

                    </div>
                    <div class="form-group col-md-6">
                        @Html.LabelFor(m => m.EndTime, "Bitiş Tarihi")
                        @Html.TextBoxFor(m => m.EndTime, new { @class = "form-control", @placeholder = "Job End Date or Devam Ediyor" })
                        @Html.ValidationMessageFor(m => m.EndTime, "", new { @class = "text-danger" })


                    </div>
                </div>
                <div class="form-group">
                    @Html.LabelFor(m => m.Description, "Açıklama")
                    @Html.TextAreaFor(m => m.Description, new { @class = "form-control", @rows = 4, @placeholder = "About work" })
                    @Html.ValidationMessageFor(m => m.Description, "", new { @class = "text-danger" })

                </div>

                <div class="form-group float-right">

                    <a href="/Career/Index/" class="btn btn-danger">Vazgeç</a>
                    <input type="submit" value="Ekle" class="btn btn-primary">

                </div>
            }
        </div>
        <!-- /.card-body -->
    </div>
    <!-- /.card -->
</div>

