@using SerhatPoturCV.Models.Entity
@model List<Careers>

@{
    // For döngüsü ile ilgili kısım
    var skillCount = Model.OrderBy(x => Convert.ToDateTime(x.StartTime)).ToList();
    double newCount = skillCount.Count;
    double dgr = Convert.ToDouble(newCount / 2);

    dgr = Math.Ceiling(dgr);
    int ydgr = Convert.ToInt32(dgr);
    var d2 = skillCount.Count;


    // Liste

    var present = Model.Where(x => x.EndTime == "Devam Ediyor").FirstOrDefault();
    var careerList = Model.Where(x => x.EndTime != "Devam Ediyor").OrderBy(x => Convert.ToDateTime(x.StartTime)).ToList();

    List<Careers> d = new List<Careers>();

    if (present != null)
    {
        d.Add(present);
        for (int i = 0; i < d2 - 1; i++)
        {

            d.Add(careerList[i]);

        }
    }
    else
    {
        for (int i = 0; i < d2; i++)
        {

            d.Add(careerList[i]);

        }
    }
}



<section id="resume" class="resume">
    <div class="container">

        <div class="section-title">
            <h2>Çalışma Geçmişim</h2>
            @*<p>Çalışma Geçmişim</p>*@
        </div>

        <div class="row">
            <div class="col-lg-6">
                @for (int i = 0; i < dgr; i++)
                {

                    <div class="resume-item">
                        <h4></h4>
                        <h4>@d[i].CompanyName</h4>
                        <h5> @d[i].Position</h5> <br />

                        <h5>@d[i].StartTime - @d[i].EndTime</h5>
                        <p>@d[i].Description</p>
                    </div>
                    @*Alteratif
                              <div class="resume-item">
                            <h4>@Model[i].CompanyName</h4>
                            <h4 style="color:darkturquoise;"> @Model[i].Position</h4>

                            <h5>@Model[i].StartTime - @Model[i].EndTime</h5>
                            <p>@Model[i].Description</p>
                        </div>
                    *@


                }



                @*<div class="resume-item">
                        <h3 class="resume-title">GNC PROSES OTOMASYON</h3>
                        <h4>GNC PROSES OTOMASYON</h4>
                        <h5>2010 - 2014</h5>
                        <p><em>Rochester Institute of Technology, Rochester, NY</em></p>
                        <p>Quia nobis sequi est occaecati aut. Repudiandae et iusto quae reiciendis et quis Eius vel ratione eius unde vitae rerum voluptates asperiores voluptatem Earum molestiae consequatur neque etlon sader mart dila</p>
                    </div>*@
            </div>
            <div class="col-lg-6">
                @*@for (int i = d2 - 1; i >= dgr; i--)*@
                @for (int i = ydgr; i <= d2 - 1; i++)
                {
                    <div class="resume-item">
                        <h4>@d[i].CompanyName</h4>
                        <h5> @d[i].Position</h5> <br />

                        <h5>@d[i].StartTime - @d[i].EndTime</h5>
                        <p>@d[i].Description</p>
                    </div>
                }

                @*<div class="resume-item">
                        <h4>Graphic design specialist</h4>
                        <h5>2017 - 2018</h5>
                        <p><em>Stepping Stone Advertising, New York, NY</em></p>
                        <p>
                            <ul>
                                <li>Developed numerous marketing programs (logos, brochures,infographics, presentations, and advertisements).</li>
                                <li>Managed up to 5 projects or tasks at a given time while under pressure</li>
                                <li>Recommended and consulted with clients on the most appropriate graphic design</li>
                                <li>Created 4+ design presentations and proposals a month for clients and account managers</li>
                            </ul>
                        </p>
                    </div>*@
            </div>
        </div>

    </div>
</section>
