@model SerhatPoturCV.Models.Entity.Abouts
@{
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}


<div class="col-md-3">

    <!-- Profile Image -->
    <div class="card card-primary card-outline">
        <div class="card-body box-profile">
            <div class="text-center">
                <img class="profile-user-img img-fluid img-circle w-75"
                     src="~/themes/Personal/assets/img/pp.jpeg"
                     alt="User profile picture">

            </div>
            <div class="text-center">
                <a href="#"> <i class="fas fa-camera fa-2x"></i></a>
            </div>
            <h3 class="profile-username text-center">@Model.Name @Model.Surname</h3>

            <p class="text-muted text-center">@Model.Job</p>
        </div>
        <!-- /.card-body -->
    </div>
    <!-- /.card -->

</div>
<!-- /.col -->
<div class="col-md-9">
    <div class="card">

        <div class="card-body">
            <div class="tab-content">
                <!-- /.tab-pane -->
                <div>
                    @using (Html.BeginForm("UpdateAbout", "About", FormMethod.Post, new { @class = "form-horizontal" }))
                    {
                        @Html.HiddenFor(x => x.AboutID)
                        <div class="form-group row">
                            @Html.Label("Adı", new { @class = "col-sm-2 col-form-label" })
                            @*<label for="inputName" class="col-sm-2 col-form-label">Name</label>*@
                            <div class="col-sm-10">
                                @Html.TextBoxFor(m => m.Name, new { @class = "form-control" })
                                @*<input type="email" class="form-control" id="inputName" placeholder="Name">*@
                            </div>
                        </div>
                        <div class="form-group row">
                            @Html.Label("Soyadı", new { @class = "col-sm-2 col-form-label" })
                            @*<label for="inputName" class="col-sm-2 col-form-label">Name</label>*@
                            <div class="col-sm-10">
                                @Html.TextBoxFor(m => m.Surname, new { @class = "form-control" })
                                @*<input type="email" class="form-control" id="inputName" placeholder="Name">*@
                            </div>
                        </div>
                        <div class="form-group row">
                            @Html.Label("Telefon No", new { @class = "col-sm-2 col-form-label" })
                            @*<label for="inputName" class="col-sm-2 col-form-label">Name</label>*@
                            <div class="col-sm-10">
                                @Html.TextBoxFor(m => m.Phone, new { @class = "form-control" })
                                @*<input type="email" class="form-control" id="inputName" placeholder="Name">*@
                            </div>
                        </div>
                        <div class="form-group row">
                            @Html.Label("Doğum Tarihi", new { @class = "col-sm-2 col-form-label" })
                            @*<label for="inputName" class="col-sm-2 col-form-label">Name</label>*@
                            <div class="col-sm-10">
                                @Html.TextBoxFor(m => m.Dateofbirth, new { @class = "form-control" })
                                @*<input type="email" class="form-control" id="inputName" placeholder="Name">*@
                            </div>
                        </div>
                        <div class="form-group row">
                            @Html.Label("mail", new { @class = "col-sm-2 col-form-label" })
                            @*<label for="inputName" class="col-sm-2 col-form-label">Name</label>*@
                            <div class="col-sm-10">
                                @Html.TextBoxFor(m => m.Mail, new { @class = "form-control" })
                                @*<input type="email" class="form-control" id="inputName" placeholder="Name">*@
                            </div>
                        </div>
                        <div class="form-group row">
                            @Html.Label("Meslek", new { @class = "col-sm-2 col-form-label" })
                            @*<label for="inputName" class="col-sm-2 col-form-label">Name</label>*@
                            <div class="col-sm-10">
                                @Html.TextBoxFor(m => m.Job, new { @class = "form-control" })
                                @*<input type="email" class="form-control" id="inputName" placeholder="Name">*@
                            </div>
                        </div>
                        <div class="form-group row">
                            @Html.Label("Açıklama", new { @class = "col-sm-2 col-form-label" })
                            @*<label for="inputName" class="col-sm-2 col-form-label">Name</label>*@
                            <div class="col-sm-10">
                                @Html.TextAreaFor(m => m.Description1, new { @class = "form-control",@rows=4 })
                                @*<input type="email" class="form-control" id="inputName" placeholder="Name">*@
                            </div>
                        </div>
                        <div class="form-group row">
                            <div class="offset-sm-2 col-sm-10">
                                <button type="submit" class="btn btn-success">Güncelle</button>
                            </div>
                        </div>

                    }

                </div>
                <!-- /.tab-pane -->
            </div>
            <!-- /.tab-content -->
        </div><!-- /.card-body -->
    </div>
    <!-- /.nav-tabs-custom -->
</div>