
@model SerhatPoturCV.Models.Entity.Abouts
@{
    ViewBag.Title = "Home Page";
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">

    <title>Serhat Potur</title>
    <meta content="" name="descriptison">
    <meta content="" name="keywords">

    <!-- Favicons -->
    <link href="~/themes/Personal/assets/img/favicon.png" rel="icon">
        <link href="~/themes/Personal/assets/img/apple-touch-icon.png" rel="apple-touch-icon">

         <!--  Google Fonts -->
        <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Raleway:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">

         <!--  Vendor CSS Files -->
        <link href="~/themes/Personal/assets/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
        <link href="~/themes/Personal/assets/vendor/icofont/icofont.min.css" rel="stylesheet">
        <link href="~/themes/Personal/assets/vendor/remixicon/remixicon.css" rel="stylesheet">
        <link href="~/themes/Personal/assets/vendor/owl.carousel/assets/owl.carousel.min.css" rel="stylesheet">
        <link href="~/themes/Personal/assets/vendor/boxicons/css/boxicons.min.css" rel="stylesheet">
        <link href="~/themes/Personal/assets/vendor/venobox/venobox.css" rel="stylesheet">

          <!-- Template Main CSS File -->
        <link href="~/themes/Personal/assets/css/cvstyle.css" rel="stylesheet">

    <!-- =======================================================
    * Template Name: Personal - v2.3.0
    * Template URL: https://bootstrapmade.com/personal-free-resume-bootstrap-template/
    * Author: BootstrapMade.com
    * License: https://bootstrapmade.com/license/
    ======================================================== -->

</head>

<body>

    <!-- ======= Header ======= -->
    <header id="header" class="header-tops">
        <div class="container">

            <h1><a href="/Home/Index/">@Model.Name @Model.Surname</a></h1>

            <h2><span>Merhaba ! Kişisel Web Sayfama Hoşgeldin</span> </h2>

            <nav class="nav-menu d-none d-lg-block">
                <ul>
                    <li class="active"><a href="#header">Anasayfa</a></li>
                    <li><a href="#about">Hakkımda</a></li>
                    <li><a href="#resume">Çalışma Geçmişim</a></li>

                    <li><a href="#contact">İletişim</a></li>
                </ul>
            </nav><!-- .nav-menu -->

            <div class="social-links">
                @Html.Action("MySocialMedia", "SocialMedia")
            </div>

        </div>
    </header>

    @Html.Action("MyAbout", "About")
    @Html.Action("WorkingHistory", "Career")
    @Html.Action("AddContact", "Contact")


    <div class="credits">

        @DateTime.Now.Year <a href="#">Serhat Potur</a>
    </div>

    <!-- End Contact Section -->
    <!-- Vendor JS Files -->
    <script src="~/themes/Personal/assets/vendor/jquery/jquery.min.js"></script>
    <script src="~/themes/Personal/assets/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="~/themes/Personal/assets/vendor/jquery.easing/jquery.easing.min.js"></script>
    <script src="~/themes/Personal/assets/vendor/php-email-form/validate.js"></script>
    <script src="~/themes/Personal/assets/vendor/waypoints/jquery.waypoints.min.js"></script>
    <script src="~/themes/Personal/assets/vendor/counterup/counterup.min.js"></script>
    <script src="~/themes/Personal/assets/vendor/owl.carousel/owl.carousel.min.js"></script>
    <script src="~/themes/Personal/assets/vendor/isotope-layout/isotope.pkgd.min.js"></script>
    <script src="~/themes/Personal/assets/vendor/venobox/venobox.min.js"></script>

    <!-- Template Main JS File -->
    <script src="~/themes/Personal/assets/js/main.js"></script>

</body>

</html>