@model SerhatPoturCV.Models.Entity.Contacts
@{
    Layout = null;
}


 

<section id="contact" class="contact">
    <div class="container">

        <div class="section-title">
            <h2>İletişim</h2>
            @*<p>İletişim</p>*@
        </div>

        <div class="row mt-2">


            <div class="col-md-6 mt-4 d-flex align-items-stretch">
                <div class="info-box">
                    <i class="bx bx-share-alt"></i>
                    <h3>Sosyal Medya</h3>
                    <div class="social-links">
                        @Html.Action("MySocialMedia", "SocialMedia")

                    </div>
                </div>
            </div>

            <div class="col-md-6 mt-4 d-flex align-items-stretch">
                <div class="info-box">
                    <i class="bx bx-envelope"></i>
                    <h3>Email </h3>
                    <p> @ViewBag.mail</p>
                </div>
            </div>

        </div>

        @using (Html.BeginForm("AddContact", "Contact", FormMethod.Post, new { @class = " contact-from mt-4" }))
        {
            @Html.ValidationSummary(true, "", new { @class = "text-white" })
            <div class="form-row">
                <div class="col-md-6 form-group">
                    @Html.TextBoxFor(m => m.Name, new { @class = "form-control", placeholder = "Your Name" })

                    <div class="validate">
                        @Html.ValidationMessageFor(x => x.Name, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="col-md-6 form-group">
                    @Html.TextBoxFor(m => m.Surname, new { @class = "form-control", placeholder = "Your Surname" })
                    <div class="validate">
                        @Html.ValidationMessageFor(x => x.Surname, "", new { @class = "text-danger" })
                    </div>
                </div>
            </div>
            <div class="form-group">
                @Html.TextBoxFor(m => m.Mail, new { @class = "form-control", placeholder = "Your Mail" })
                <div class="validate">
                    @Html.ValidationMessageFor(x => x.Mail, "", new { @class = "text-danger" })
                </div>
            </div>
            <div class="form-group">
                @Html.TextBoxFor(m => m.Subject, new { @class = "form-control", placeholder = "Your Subject" })
                <div class="validate">
                    @Html.ValidationMessageFor(x => x.Subject, "", new { @class = "text-danger" })

                </div>
            </div>
            <div class="form-group">
                @Html.TextAreaFor(m => m.Message, new { @class = "form-control", placeholder = "Your Message", rows = 5 })
                <div class="validate">
                    @Html.ValidationMessageFor(x => x.Message, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="text-center"><button type="submit">Mesaj Gönder</button></div>
        }


    </div>
</section>

