@using SerhatPoturCV.Models.Entity
@model List<Contacts>
@{
    ViewBag.Title = "ReadInbox";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

    <div class="col-md-3 mt-2">


        @Html.Action("ContactSidebar")
    
    </div>
    <div class="col-md-9 mt-2">
        <div class="card card-primary card-outline">
            @using (Html.BeginForm("ReadInbox", "Contact", FormMethod.Post))
            {
                <div class="card-header">
                    <h3 class="card-title">Okunmuş Mesajlar</h3>

                    <div class="card-tools">
                        <div class="input-group input-group-sm">
                            @Html.TextBox("search", null, new { @class = "form-control", @placeholder = "Mailde Ara" })
                            @*<input type="text" class="form-control" placeholder="Search Mail">*@
                            <div class="input-group-append">
                                <div class="btn btn-primary">
                                    <i class="fas fa-search"></i>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- /.card-tools -->
                </div>
            }

            <!-- /.card-header -->
            <div class="card-body p-0">
                <div class="mailbox-controls">
                    <!-- Check all button -->
                    <button type="button" class="btn btn-default btn-sm checkbox-toggle">
                        <i class="far fa-square"></i>
                    </button>
                    <div class="btn-group">
                        <button type="button" class="btn btn-default btn-sm"><i class="far fa-trash-alt"></i></button>
                        <button type="button" class="btn btn-default btn-sm"><i class="fas fa-reply"></i></button>
                        <button type="button" class="btn btn-default btn-sm"><i class="fas fa-share"></i></button>
                    </div>
                    <!-- /.btn-group -->
                    <button type="button" class="btn btn-default btn-sm"><i class="fas fa-sync-alt"></i></button>
                    <div class="float-right">
                        1-50/200
                        <div class="btn-group">
                            <button type="button" class="btn btn-default btn-sm"><i class="fas fa-chevron-left"></i></button>
                            <button type="button" class="btn btn-default btn-sm"><i class="fas fa-chevron-right"></i></button>
                        </div>
                        <!-- /.btn-group -->
                    </div>
                    <!-- /.float-right -->
                </div>
                <div class="table-responsive mailbox-messages">
                    <table class="table table-hover table-striped">
                        <tbody>
                            @foreach (var item in Model)
                            {
                                <tr>

                                    <td class="mailbox-star"><i class="fas fa-star text-warning"></i></td>
                                    <th class="mailbox-name">@item.Name @item.Surname</th>
                                    <td class="mailbox-subject">
                                        @if (item.Message.Length < 30)
                                        {
                                            <a href="/Contact/ReadMessageDetails/@item.ContactID">   <b>@item.Subject</b> - @item.Message  </a>
                                        }
                                        else
                                        {
                                            <a href="/Contact/ReadMessageDetails/@item.ContactID">   <b>@item.Subject</b> - @item.Message.Substring(0, 30)...  </a>
                                        }

                                    </td>

                                    <td class="mailbox-date">@item.MessageDate</td>

                                </tr>
                            }

                        </tbody>
                    </table>
                    <!-- /.table -->
                </div>
                <!-- /.mail-box-messages -->
            </div>
            <!-- /.card-body -->
            <div class="card-footer p-0">
                <div class="mailbox-controls">
                    <!-- Check all button -->
                    <button type="button" class="btn btn-default btn-sm checkbox-toggle">
                        <i class="far fa-square"></i>
                    </button>
                    <div class="btn-group">
                        <button type="button" class="btn btn-default btn-sm"><i class="far fa-trash-alt"></i></button>
                        <button type="button" class="btn btn-default btn-sm"><i class="fas fa-reply"></i></button>
                        <button type="button" class="btn btn-default btn-sm"><i class="fas fa-share"></i></button>
                    </div>
                    <!-- /.btn-group -->
                    <button type="button" class="btn btn-default btn-sm"><i class="fas fa-sync-alt"></i></button>
                    <div class="float-right">
                        1-50/200
                        <div class="btn-group">
                            <button type="button" class="btn btn-default btn-sm"><i class="fas fa-chevron-left"></i></button>
                            <button type="button" class="btn btn-default btn-sm"><i class="fas fa-chevron-right"></i></button>
                        </div>
                        <!-- /.btn-group -->
                    </div>
                    <!-- /.float-right -->
                </div>
            </div>
        </div>
        <!-- /.card -->
    </div>
